body{
    font-family: 'Montserrat', sans-serif;
    width:100vw;
    margin:0;
    padding:0;
    
    overflow-x:hidden;
  }
  
  header{
    height:60px;
    position:fixed;
    width: 100vw;
    background-color: rgba(252, 249, 249, 0.9);
  }
  
  
  
  .logo{
    float:left;
    padding-left:100px;
    padding-top:10px;
    font-family: 'Rock Salt', cursive;
    font-size:20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color:#333;
  }
  #menuToggle{
    display: none;
  }
  .menu{
   
    position:fixed;
    right:-100%;
    top:0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.5);
    transition:right 0.5s ease;
  }
  
  ul{ 
      list-style-type: none;
      
  }
  .menuDesktop ul{
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
  }
  .menuDesktop li{
    padding-right: 20px;
    color: #333;
  }
  .menu li{
    text-align:justify;
    font-size:50px;
    padding:60px;
    margin:20px auto;
    font-weight:1000;
    letter-spacing:5px;
    color:#333;
    margin-top:80px;
  }
  
  input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: fixed;
    top: 7px;
    right: 5px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
  }
  
  input:checked ~ .menu{
    right:0;
    transition:right 0.5s ease;
  }
  span
  {
    width: 33px;
    height: 4px;
    position: fixed;
    background:black ;
    border-radius: 3px;
    top:15px;
    right:12px;
    z-index: 1;
  }
  
  span:nth-child(2){
    top:25px;
    background-color:red;
  }
  span:nth-child(3){
    top:35px;
    background-color:yellow;
  }
  
  
  input:checked ~ span
  {
    opacity: 1;
    transform-origin:top left;
    transform: rotate(45deg) translate(-2px, -1px);
    background: orange;
    transition:transform 0.1s ease;
  }
  
  input:checked ~ span:nth-child(2)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    background: orange;
    transition:transform 0.5s ease,opacity 1s;
  }
  
  
  input:checked ~ span:nth-child(3)
  {
    transform-origin:bottom left;
    transform: rotate(-45deg) translate(0, -1px);
    background: orange;
    transition:transform 1s ease;
  }
  section{
    background: url(/img/dark.jpg);
   height:100vh;
   background-size: cover;
   background-repeat: no-repeat;
   border:1px solid tan;
   box-shadow:2px  yellow;
    
  }
  
  section:nth-of-type(1){
    background: url(/img/brige.jpg) ;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;

  }
  section:nth-of-type(2){
    background: url(/img/jungle.jpg) ;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;

  }
  @media only screen and (max-width: 790px) {
    .menuDesktop{
      display: none;
    }
    #menuToggle{
      display: grid;
    }
    body{
        display: block;
    }
  }
  